.user {
    height: 200px;
    width: 200px;
    border: 2px solid green;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.usersContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNumber{
    font-size: 30px;
    font-weight: bold;
}